:root {
    --blu-scuro: #0184fd;
    --blu-chiaro: #b5deff;
    --viola-scuro: #9792e4;
    --viola-chiaro: #cdcbf1;
    --arancio: #fcc15f;
}


/*************** REGOLE GENERALI ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #005fb7;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.a-items {
    align-items: center;
}

.m-bottom {
    margin-bottom: 1.5rem;
}


/*************** HEADER ***************/
header {
    background-color: var(--blu-scuro);
}

.header-container {
    height: 80px;
    padding: 0 2rem;
}


/*************** MAIN ***************/


.cards-container {
    padding: 0 2rem;
}

.card {
    padding: 1rem;
    background-color: var(--blu-chiaro);
}



/*************** MEDIA QUERY ***************/

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(33.333%);
    }

    .card.big {
        width: calc(66.666%);
    }
    
}

/* Desktop */
@media screen and (min-width: 992px) {
    .container {
        max-width: 940px;
    }

    .card.big {
        display: flex;
        justify-content: space-between;
    }
    
}

/* Desktop Grande */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

