:root {
    --blu-scuro: #0184fd;
    --blu-chiaro: #b5deff;
    --viola-scuro: #9792e4;
    --viola-chiaro: #cdcbf1;
    --arancio: #fcc15f;
    --grigio-scuro: #333333;
    --bianco: #ffffff;
    --nero: #000000;
}


/*************** REGOLE GENERALI ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #005fb7;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 0 2rem;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.a-items {
    align-items: center;
}

.m-bottom {
    margin-bottom: 1.5rem;
}

.m-top {
    margin-top: 1.5rem;
}

.p-1 {
    padding: 1rem;
}

.blue {
    background-color: var(--blu-chiaro);
}

.violet {
    background-color: var(--viola-scuro);
}

.white {
    background-color: var(--bianco);
}


/*************** HEADER ***************/
header {
    width: 100%;
    height: 80px;
    background-color: var(--blu-scuro);
}

.header-container {
    height: 100%;
    padding: 0 2rem;
}


/*************** MAIN ***************/
.planning {
    color: var(--bianco);
}

.develope {
    color: var(--nero);
}

.violet.card {
    color: var(--bianco);
}

.containerD {
    color: var(--nero);
}

/*************** FOOTER ***************/

.containerG {
    background-color: var(--grigio-scuro);
    color: var(--bianco);
}


/*************** MEDIA QUERY ***************/

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .containerA {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(33.333%);
    }

    .card.big {
        width: calc(66.666%);
    }

    .violet.card {
        display: flex;
        width: 100%;
    }

    .violet .image {
        width: 30%;
    }

    .violet .descrizione {
        width: 70%;
    }

    .containerD {
        display: flex;
        flex-wrap: wrap;
    }

    .containerD .card {
        width: calc(100% / 3);
    }
    
}

/* Desktop */
@media screen and (min-width: 992px) {
    .container {
        max-width: 940px;
    }

    .containerA {
        width: 70%;
        margin: 0 auto 2rem auto;
    }

    .card.big {
        display: flex;
        justify-content: space-between;
    }

    .containerB {
        width: 60%;
        margin: 2rem auto 2rem auto;
        display: flex;
    }

    .planning {
        width: 50%;
    }

    .develope {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .containerC {
        width: 60%;
        margin: 2rem auto 2rem auto;
    }
}




/* Desktop Grande
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
} */


