:root {
    --blu-scuro: #0184fd;
    --blu-chiaro: #b5deff;
    --viola-scuro: #9792e4;
    --viola-chiaro: #cdcbf1;
    --arancio: #fcc15f;
}


/*************** REGOLE GENERALI ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #005fb7;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 0 2rem;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.a-items {
    align-items: center;
}

.m-bottom {
    margin-bottom: 1.5rem;
}

.m-top {
    margin-top: 1.5rem;
}

.blue {
    background-color: var(--blu-chiaro);
}

.violet {
    background-color: var(--viola-scuro);
}

.white {
    background-color: white;
}


/*************** HEADER ***************/
header {
    background-color: var(--blu-scuro);
}

.header-container {
    height: 80px;
    padding: 0 2rem;
}


/*************** MAIN ***************/
.container.cards-container {
    margin: 2rem 0;
}

.card {
    padding: 1rem;
}

.planning {
    color: white;
}

.develope {
    color: black;
}

.violet.card {
    color: white;
}



/*************** MEDIA QUERY ***************/

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(33.333%);
    }

    .card.big {
        width: calc(66.666%);
    }

    .violet.card {
        display: flex;
        width: 100%;
    }

    .violet .card-image {
        width: 30%;
        flex-grow: 1;
    }

    .violet .descrizione {
        width: 70%;

    }
    
}

/* Desktop */
@media screen and (min-width: 992px) {
    .container {
        max-width: 940px;
        display: flex;
    }

    .card.big {
        display: flex;
        justify-content: space-between;
    }

    .planning {
        width: 50%;
    }

    .develope {
        width: 50%;
    }
}


/* Desktop Grande */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    
    }
}


